<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/madetech-frontend.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Requests - Made Tech</title>
  </head>

  <body>
    <div class="top_bar">
      <div class="top_bar__inner">
        <div class="container">
          <div class="row d-md-flex justify-content-center justify-content-md-between">
            <div class="d-none d-md-block">Improving software delivery in every organisation</div>
          </div>
        </div>
      </div>
    </div>

    <header class="header">
      <div class="header__inner">
        <nav class="p-0 flex-column flex-lg-row navbar navbar-expand">
          <div class="mr-lg-auto">
            <div class="header__logo">
              <a href="#" class="header__logo_link">
                <div class="header_logo_type--by">
                  <span class="header_logo_type__text">Requests</span>
                  <span class="px-3">by</span>
                  <span class="position-relative style-logo">
                  <img alt="Made Tech" itemprop="logo" src="/assets/images/made-tech-logo-colour.png" width="120px">
                </span>
                </div>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="jumbotron jumbotron-skinny"></div>

    <main class="container mb-5 mt-3">
      <div class="text-center">
      <h1>Ongoing Team Requests</h1>
        <a href="/" class="btn btn-outline-success mb-3" >View ongoing team requests</a>
        <a href="https://docs.google.com/forms/d/1xK5xdGzrdtBBJYKMfGfsLu-yXH_vmTxtHlLS8bVoD68" target="_blank" class="btn btn-outline-success mb-3" >Submit a team request</a>
        <a href="/resolved_requests" class="btn btn-outline-success mb-3" >View resolved team requests</a>
      </div>
      <div class="row text-center">
        <div class="col-sm-6 mb-2">
          <h5 class="text-success">Total Submitted Team Requests: <%= summary_data[:active] %> </h5>
        </div>
        <div class="col-sm-6 mb-2">
          <h5 class="text-success">Team Requests in Progress: <%=summary_data[:in_progress] %></h5>
        </div>
      </div>
      <div class="col-md-12">
        <% if data.empty? %>
          <h4 class="text-center"> There are currently no ongoing team requests</h4>
        <% end %>

      <div class="accordion" id="accordionExample">
        <div>
        <% data.each_with_index do |request, index| %>
              <div class="card-header-custom " id="headingOne">
                <h2 class="mb-0 mt-0 text-center">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%=index%>" aria-expanded="true" aria-controls="collapseOne">
                    Team request from <%= request[3]%> for <%= request[4]%>
                  </button>
                </h2>
              </div>

            <div id="collapse<%=index%>" class="collapse card" data-parent="#accordionExample">
              <div class="card-body ">
                <ul class="progressbar">
                  <li class="active">Submitted</li>
                  <li class="<%= 'active' if request[13] == 'TRUE' || request[14] == 'TRUE' %>">In progress</li>
                  <li class="<%= 'active' if request[14] == 'TRUE'%>">Resolved</li>
                </ul>

                <% difference = Date.today - Date.parse(request[0])%>
                <% if difference > 1 %>
                  <i class="mb-1 text-muted float-right">Requested <%= difference.to_i %> days ago</i>
                <% elsif difference < 1 %>
                  <i class="mb-1 text-muted float-right">Requested today</i>
                <% else %>
                  <i class="mb-1 text-muted float-right">Requested <%= difference.to_i %> day ago</i>
                <% end %>

                <i class="mb-1 text-muted text-left" >Submited by: <%=request[1]%></i>

                <% if request[15].nil? %>
                  <div hidden class="border border-success rounded mb-3 mt-3">
                    <h2 class="text-success text-center">Operations Response</h2>
                    <p class="ml-3 mr-3"><%= request[15]%></p>
                  </div>
                <% else %>
                  <div class="border border-success rounded mb-3 mt-3">
                    <h2 class="text-success text-center">Operations Response</h2>
                    <p class="ml-3 mr-3"><%= request[15]%></p>
                  </div>
                <% end %>
                <h2 class="mt-4">Client Information</h2>
                <p>Client: <%= request[3]%></p>
                <p>Client stream: <%= request[4]%></p>
                <p>Start date: <%= request[7]%></p>
                <p>Duration: <%= request[5]%></p>
                <p>Location: <%= request[6]%></p>
                <h2>Team Shape</h2>
                <p>Team size: <%= request[8]%></p>
                <p>Skills required: <%= request[9]%></p>
                <p>Seniority: <%= request[10]%></p>
                <p>Executive sponsor: <%= request[12]%></p>
                <h2>Project context</h2>
                <p><%= request[11]%></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-none d-lg-block">
            © <span itemprop="copyrightYear">2019</span>
            <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">
            <span itemprop="name">Made Tech Limited.</span>
          </span>
          </div>
          <div class="col-7 col-lg-4 text-left text-lg-center">
            <a class="footer__logo" href="https://www.madetech.com" rel="home">
              <img src="/assets/images/made-tech-logo-wht.png" height="25" alt="Made Tech">
            </a>
          </div>
          <nav class="col-5 col-lg-4 text-right">
            <a class="footer__social_link" href="https://www.madetech.com/ext/linkedin">
              <img src="/assets/images/icons/linkedin.svg" alt="LinkedIn" height="25"/>
            </a>

            <a class="footer__social_link" href="https://www.madetech.com/ext/twitter">
              <img src="/assets/images/icons/twitter.svg" alt="Twitter" height="25"/>
            </a>

            <a class="footer__social_link" href="https://www.madetech.com/ext/github">
              <img src="/assets/images/icons/github.svg" alt="GitHub" height="25"/>
            </a>
          </nav>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>
    <script src="/assets/js/madetech-frontend.js"></script>
  </body>
</html>
